.count-contain{
	width: 500px;
	margin-left: 50px;
}
.count-contain span{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	float: left;
	cursor: pointer;
}
.count-operate{
	margin-left: 50px;
}